<html>

<body>

<header>
    <h1>Ruby on Rails スケジュール管理アプリ</h1>
</header>    

<div class="main_container">
    <div class="information">
        <h2>スケジュール詳細</h2>
    </div>
    
    <table>
        <tbody>
            <tr>
                <th>タイトル</th>
                <td>fdsa g</td>
            </tr>
            <tr>
                <th>開始日</th>
                <td>2021年08月18日</td>
            </tr>
            <tr>
                <th>投稿日時</th>
                <td>2021年08月25日</td>
            </tr>
            <tr>
                <th>終日</th>
                <td>○</td>
            </tr>
            <tr>
                <th>スケジュールメモ</th>
                <td>dsF DS</td>
            </tr>
        </tbody>
    </table>
    <ul>
        <li><a href="/index">スケジュール一覧に戻る</a></li>
        <li><a href="/edit">スケジュールを編集する</a></li>
        <li><a data-confirm="本当に削除しますか？" rel="nofollow" data-method="delete" href="/posts/544">スケジュールを削除</a></li>
    </ul>
</div>    
    
<footer>
    <h1>現在の日時 : 2021年08月11日</h1>
</footer>

</body>

</html>